!/data/*
!/external/*
Release/
Debug/
RelWithDbgInfo/
tmp/
bin/
obj/
ipch/
.vs/
*.sdf
*.suo
*.exe
*.tlog
*.log
*.filters
*.opensdf
*.pdb
*.obj
*.lastbuildstate
/UtinniCoreDotNet/Generated/Std-symbols.cpp
/UtinniCoreDotNet/Generated/UtinniCore-symbols.cpp
/UtinniCoreDotNet/Generated/Std.cs
/UtinniCoreDotNet/Generated/UtinniCore.cs
